<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830021751175-iovnl8kaakh7i72853kpr3ecdkn7f1ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830021751175-iovnl8kaakh7i72853kpr3ecdkn7f1ke</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>830021751175-3m5aioeqtm1nd2thi7hb7uv963r1memm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBKHKn_TDJqmNFYxyJwIGA4Qf9tqBnZlI</string>
	<key>GCM_SENDER_ID</key>
	<string>830021751175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.lunacalm.flow.ios</string>
	<key>PROJECT_ID</key>
	<string>sasomboon</string>
	<key>STORAGE_BUCKET</key>
	<string>sasomboon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830021751175:ios:9b5b673ee2dc6fc8ee8322</string>
	<key>DATABASE_URL</key>
	<string>https://sasomboon-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>